.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-color: $bg-dark;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 200px 0;
}